* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header,
main,
aside,
footer {
    border: 1px solid black;
}



.contenedor { 
    display: grid;
    height:100vh ;
}

    header {
        background-color:cadetblue;
        grid-area: header;
        align-items: center;
        padding: 10;
    }

    h1{
        display: flex;
        align-items: center;
        margin: 10px;
        padding-left: 20px;
    }

    main { 
        background-color:antiquewhite;
        grid-area: main;
        text-align: center;
        align-items: center;
        padding: 10%;
        

    }

    aside{
    
        background-color:brown;
       grid-area: aside;
       align-items: center;
    }

    footer{
        background-color:brown;
        grid-area: footer;
        text-align: center;
        
    }


   

    @media (max-width: 600px) {
        .contenedor {
        grid-template-areas: 
        "header "
        "aside "
        "main "
        "footer "
        ; 
        grid-template-rows: 10% 25% auto 5%;
        
    }
    h1 { 
        font-size:medium;
        justify-content: center;
        padding-top: 20px;
    }


    }


    @media (min-width: 600px) {
        .contenedor {
        grid-template-areas: 
        "aside header"
        "aside main"
        "footer footer"
        ; 
        grid-template-rows: 10% auto 5%;
        grid-template-columns: 10% auto;
        
    }
    main { 
        
        padding: 1rem; 
        display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         
 }

    }

    .boxes { 
        display: flex;
        justify-content: center;
        border: 1px solid black;
        background-color: cadetblue;
        border-radius:2%;
        margin: 10px;
        padding: 20px;
    
    
}

nav {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    
}

nav img { 
    border-radius: 50%;
}

nav a {
    
    color: black;
    
}

footer div { 
   display: flex;
    justify-content: center;
}
footer div i { 
    padding: 10px;
}
 
    
